src/wsdl/localhost_8080/My-IMDb-SOAP-WS/GenreWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="addGenre" type="tns:addGenre"/>

<xs:element name="addGenreResponse" type="tns:addGenreResponse"/>

<xs:element name="deleteGenre" type="tns:deleteGenre"/>

<xs:element name="deleteGenreResponse" type="tns:deleteGenreResponse"/>

<xs:element name="findGenre" type="tns:findGenre"/>

<xs:element name="findGenreResponse" type="tns:findGenreResponse"/>

<xs:element name="genre" type="tns:genre"/>

<xs:element name="listGenres" type="tns:listGenres"/>

<xs:element name="listGenresResponse" type="tns:listGenresResponse"/>

<xs:element name="updateGenre" type="tns:updateGenre"/>

<xs:element name="updateGenreResponse" type="tns:updateGenreResponse"/>

<xs:complexType name="listGenres">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listGenresResponse">
<xs:sequence>
<xs:element name="return" type="tns:genre" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="genre">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addGenre">
<xs:sequence>
<xs:element name="genre" type="tns:genre" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addGenreResponse">
<xs:sequence>
<xs:element name="return" type="tns:genre" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteGenre">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteGenreResponse">
<xs:sequence>
<xs:element name="return" type="tns:genre" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findGenre">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findGenreResponse">
<xs:sequence>
<xs:element name="return" type="tns:genre" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateGenre">
<xs:sequence>
<xs:element name="name" type="tns:genre" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateGenreResponse">
<xs:sequence>
<xs:element name="return" type="tns:genre" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>